#no{
  color: red;
  background-color: white;
  width: fit-content;
  height: fit-content;
  padding-left: 1%;
  padding-right: 1%;
  margin: auto;
  border-radius: 10%;
}

table{
  background-color: white;
  width: 60%;
}
